build/
build-*/
out/
.cache/
.idea/
.vscode/
*.user
*.user.*
*.autosave
*.swp
*.swo
*.pkg.tar.zst
*.pkg.tar.xz
*.src.tar.gz
src-pkg/
pkg/
*.log
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
